<nav class="navbar navbar-expand-lg  bg-secondary">
    <div class="container d-flex flex-row justify-content-between">
      <a class="navbar-brand" href="/">
        <span class="font-monospace">
          Tokenized Carbon Auctions dapp
        </span>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarToggler"
        aria-controls="navbarToggler"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse mt-3 mt-md-0 justify-content-end"
        id="navbarToggler"
      >
        <div class="d-flex flex-column flex-md-row gap-3">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button
              type="button"
              class="btn btn-primary"
              [routerLink]="['/auction-implementation']"
            > View Auctions        
            </button>

            <button
              type="button"
              class="btn btn-success"
              [routerLink]="['/auction-factory-owner']"
            > Owner Zone
            </button>

            <button
              type="button"
              class="btn btn-danger"
              (click)="connectMetamaskWallet()"
              *ngIf="!isWalletLoggedIn"
            >
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>
  
  <router-outlet></router-outlet>