<section>
<div class="alert alert-danger" role="alert" *ngIf="!isOwnerLoggedIn">
    Only the contract owner may use this area!
</div>

<div *ngIf="isOwnerLoggedIn" class="bg-light">
<div class="card-footer py-3 px-5 d-flex flex-column gap-5 row align-items-center mx-auto mx-25">
    <div class="d-flex align-items-center justify-content-center">
      <h4>Owner's place</h4>
    </div>
    
      <form
        class="d-flex flex-column gap-3 w-25"
        [formGroup]="withdrawOwnerForm"
        (ngSubmit)="attemptToWithdrawOwnerFeePool()"
      >
        <div class="mb-5">
          <label for="create-auction" class="form-label"
            >Withdraw Funds From Fee Pool</label
          >
        <div class="mb-2">
          <input
            type="text"
            class="form-control input-lg"
            placeholder="address of wallet to send fund to"
            id="address-to-send-funds-to"
            formControlName="addressToSendFundsTo"
          />
        </div>
  
        <div class="mb-2">
          <input
            type="number"
            class="form-control input-lg"
            placeholder="amount to withdraw"
            id="amount-to-withdraw"
            formControlName="amountToWithdraw"
          />
        </div>
              
      </div>
      
      <div class="py-0 px-3 d-flex flex-column gap-5 row align-items-center">
        <button type="submit" class="btn btn-outline-primary w-50 py-0 px-1 ">
          <span *ngIf="isAttemptingToWithdrawOwnerFee === false">Withdraw owner fee pool</span>
          <div
            *ngIf="isAttemptingToWithdrawOwnerFee === true"
            class="spinner-border"
            role="status"
          >
            <span class="visually-hidden">Loading...</span>
          </div>
        </button>
      </div>
  
      </form>
  
</div>

    <div>
        <div class="d-flex flex-column align-items-center">
            <span
              class="fw-bolder"
              *ngIf="
                isLoadingFeePoolBalance === false"
            >
              {{ accumulatedFees }} ETH/MATIC
            </span>
            <span
              class="text-center"
              *ngIf="
              isLoadingFeePoolBalance === false && accumulatedFees !== ''
              "
            >
              (Amount of tokens in fee pool)
            </span>
          </div>
    </div>
</div>
</section>